.redirection-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10000;
    display: none;
    opacity: 0; }
    .redirection-popup.active {
      display: block;
      opacity: 1; }
    .redirection-popup__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0ms; }
      .redirection-popup__content p {
        text-align: center;
        font-size: rem(26px); }
    .redirection-popup__butterfly {
      display: block;
      width: 150px;
      height: 150px;
      /*
      background: url("../img/butterfly-sprites.png") 0 0 no-repeat;
      background-size: 1800px 150px;
      animation: butterflySprite 1s steps(1) infinite;
      */
     }
  
  @keyframes butterflySprite {
    0% {background-position: 0 0;}
    8% {background-position: -150px 0;}
    16% {background-position: -300px 0;}
    24% {background-position: -450px 0;}
    32% {background-position: -600px 0;}
    40% {background-position: -750px 0;}
    48% {background-position: -900px 0;}
    56% {background-position: -1050px 0;}
    65% {background-position: -1200px 0;}
    74% {background-position: -1350px 0;}
    83% {background-position: -1500px 0;}
    91% {background-position: -1650px 0;}
  }
  