@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-MediumOblique.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-MediumOblique.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-BoldOblique.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-LightOblique.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-LightOblique.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-Medium.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-Book.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-Light.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("fonts/futura/FuturaStd-Bold.woff2") format("woff2"),
    url("fonts/futura/FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noway Round";
  src: url("fonts/noway/nowayround-bold-webfont.woff") format("woff2"),
    url("fonts/noway/nowayround-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noway Round";
  src: url("fonts/noway/nowayround-regular-webfont.woff2") format("woff2"),
    url("fonts/noway/nowayround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/HKGrotesk-Bold.woff2") format("woff2"),
    url("fonts/HKGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("fonts/HKGrotesk-Regular.woff2") format("woff2"),
    url("fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: 400;
  font-display: swap;
}

body,
html {
  --bs-gutter-x: 1rem;
  width: 100%;
  height: 100%;
  font-family: "Noway Round";
  color: #000;
}

.background {
  position: relative;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

html {
  font-size: 18px;
}

.font-secondary {
  font-family: var(--bs-font-secondary) !important;
}

.bi.icon-bold::before {
  font-weight: 900 !important;
}

.row {
  --bs-gutter-x: 2rem;
}

.redirection-popup {
  padding: 0;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

/* Font Sizes */
sup {
  top: -0.5rem;
  font-size: 50%;
}

small,
.small,
.helper-text {
  font-size: 85%;
}

.big {
  font-size: 125%;
}

/* Display Grid */
.d-grid {
  gap: 1rem;
}

.d-grid .grid-item {
  position: relative;
}

.pretitle {
  margin-bottom: 0.5em;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  position: relative;
  margin-bottom: 1.5em;
  font-size: 1.5rem;
  font-weight: 500;
}

.title-border {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: inherit;
}

.title-border::before,
.title-border::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background-color: currentColor;
}

.title-border::before {
  top: 0;
}

.title-border::after {
  bottom: 0;
}

.title span[class^="bg"] {
  padding: 3px 10px;
  line-height: 1.35;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.subtitle {
  /* margin-bottom: 1.25em; */
  /* font-size: 1.15rem; */
  font-weight: bold;
  background-repeat: repeat;
  /* background-size: cover;
  background-image: url("../img/nivea136-background-letter.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased; */
}

.subtitle sup {
  position: unset;
  vertical-align: super;
}

/* Break lines */
.lg-br {
  display: none;
}

.sm-br {
  display: none;
}

.xs-br {
  display: inline;
}

.check-list {
  list-style: none;
}

.check-list li {
  position: relative;
  margin-bottom: 0.5rem;
  text-align: left;
}

.check-list li::before {
  content: "\f272";
  font-family: bootstrap-icons;
  position: absolute;
  left: -1.5rem;
}

.separator {
  width: 50px;
  margin: 10px auto;
  background: #000;
  height: 2px;
}

.container > hr {
  margin: 0;
}

/* Navbar */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar-brand img {
  min-width: 2.5rem;
}

/* Categories */
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.categories .categories-item {
  position: relative;
}

.categories .categories-item > .btn {
  font-size: 0.9rem;
  font-weight: normal;
}

.categories .categories-item .stretched-link {
  color: inherit;
  text-decoration: underline;
}

.categories .categories-item .stretched-link:hover {
  text-decoration: unset;
}

.categories .categories-item img {
  margin-bottom: 1em;
}

.categories .categories-item .card {
  height: 100%;
  background-color: transparent;
}

.categories .categories-item .card .card-img-top {
  position: relative;
  margin-bottom: unset;
  border-radius: 0rem;
}

.categories .categories-item .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  min-height: 3rem;
}

.categories .categories-item .card .card-text:not(:last-child) {
  margin-bottom: 0.5rem;
}

.categories .stretched-link {
  color: inherit;
}

.categories .btn {
  min-width: unset;
  max-width: 100%;
}

/* downarrow */
.downarrow {
  text-align: center;
}

.downarrow .downarrow-text {
  margin-bottom: 1.1em;
}

.downarrow .downarrow-arrow {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding-bottom: 0;
  box-sizing: content-box;
  margin: 0 auto;
  color: inherit;
  cursor: pointer;
  -webkit-animation: up-down 0.6s linear infinite;
  -moz-animation: up-down 0.6s linear infinite;
  animation: up-down 0.6s linear infinite;
}

.downarrow .downarrow-arrow::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"%3E%3Cpath fill="none" stroke-width="4px" stroke="%23000" d="M2.5,14.2L25,35.8l22.5-21.6"/%3E%3C/svg%3E'); */
  background-image: url(../img/smileat_header_arrow.png);
}

.downarrow .downarrow-arrow.doble-arrow::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff '%3E%3cpath d='M0.5,0.8L8,7.9l7.5-7.1 M0.5,8.1L8,15.2l7.5-7.1'/%3E%3C/svg%3E%0A");
}

.downarrow .downarrow-arrow.real-arrow::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25,5.3v39.3 M9.5,29.2L25,44.7 M40.5,29.2L25,44.7' fill='none' stroke='%23ffffff ' stroke-linecap='round' stroke-width='6px'/%3E%3C/svg%3E%0A");
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

@-moz-keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

@-o-keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

/* LOADER */
.loader-screen {
  position: fixed !important;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
  transition: visibility 0.2s linear, opacity 0.2s linear;
  background-color: #fff;
}

.loader-screen:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.loader-screen:after {
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
}

.loader-screen.loader-hide {
  opacity: 0;
  visibility: hidden;
}

.loader-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

.loader-markets-logos {
  margin-bottom: 10vh;
}

.loader-markets-logos img {
  max-width: 200px;
}

.loader-pinkbrand-logo {
  margin-bottom: 10vh;
}

.loader-pinkbrand-logo img {
  max-width: 30vh;
}

.loader-logo img {
  max-width: 24vh;
}

.sk-fading-circle {
  margin: 10vh auto 0px auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  height: 10%;
  background-color: #111;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
/* New Copy Icon */

.bi-files::before {
  content: "" !important;
}

.bi-files.copy-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 10px;
  background-image: url(../img/copy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-copy:hover .bi-files.copy-icon {
  background-image: url(../img/copyinv.png);
}

.copy-code .btn-copy .copy-icon-ok {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%) !important;
}

.copy-code .btn-copy .copy-icon-ok {
  transform: translate(-70%, -50%) !important;
}

/* */
/* COPY CODE */
.copy-code {
  display: block;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 2rem;
}

.copy-top-code {
  margin-top: 1.5rem;
}

.btn-copy {
  font-family: "HK Grotesk";
  font-weight: 700;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 20rem;
  border: 1px solid #fff;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 3px;
  color: #ff8201;
  background-color: #fff;
  padding-top: 8.9px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1.5rem;
  height: 2.7rem;
  width: 11rem;
}

.btn-copy:hover,
.btn-copy:focus {
  border-color: #fff;
  color: #fff;
  background-color: #000;
}

.btn-copy:focus {
  box-shadow: 0 0 0 0.2rem rgb(224 0 120 / 25%);
}

.section p.copy-helper {
  margin-top: 0.3rem;
  margin-bottom: unset;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  font-family: "Futura Std";
}

.copy-top-code {
  margin-top: unset;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.copy-icon-wrapper {
  position: relative;
  display: block;
  width: 1rem;
  margin-left: 0.2rem;
  font-size: 110%;
}

.btn-copy .copy-icon,
.btn-copy .copy-icon-ok {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-5px, -50%);
}

.btn-copy .copy-icon-ok {
  display: none;
}
/* MOSCA */
.mosca-superior {
  position: fixed;
  z-index: 9999;
  top: 0px;
}

.mosca-superior img {
  width: 4rem;
  vertical-align: top;
}

.mosca-superior a {
  display: block;
  height: 100%;
}

.accordion .btn-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3rem;
  /* background-color: #fff; */
  overflow-x: hidden;
  /* box-shadow: 0 0 1rem -0.5rem rgb(0 0 0 / 50%); */
}

.accordion .btn-group .btn {
  position: relative;
  flex: 1 0 0%;
  min-width: unset;
  max-width: 100%;
  border-radius: inherit;
  background-color: transparent;
  text-transform: none;
  box-shadow: unset;
  z-index: 1;
}

.accordion .btn-group .bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(101%);
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: transform 0.15s ease-in-out;
}

.accordion .btn-group .btn[aria-expanded="true"]:first-child ~ .bg {
  transform: translate(-100%);
}

.accordion .btn-group .btn[aria-expanded="true"]:nth-child(2) ~ .bg {
  transform: translate(0);
}

.accordion .btn-group ~ .accordion-item {
  border: unset;
  border-bottom: 0;
  background-color: transparent;
}

/* brand */
.btn-brand {
  color: #ffffff;
  background-color: #ff0033;
  border-color: #ff0033;
}

.btn-brand:hover,
.btn-brand:not(:disabled):not(.disabled).active,
.btn-brand:not(:disabled):not(.disabled):active,
.show > .btn-brand.dropdown-toggle {
  color: #ffffff;
  background-color: #ff335c;
  border-color: #ff335c;
}

.btn-outline-brand {
  color: #ff0033;
  background-color: transparent;
  background-image: none;
  border-color: #ff0033;
}

.btn-outline-brand:hover,
.btn-outline-brand:not(:disabled):not(.disabled).active,
.btn-outline-brand:not(:disabled):not(.disabled):active,
.show > .btn-outline-brand.dropdown-toggle {
  color: #ffffff;
  border-color: #ff0033;
  background-color: #ff0033;
}

.btn-brand.focus,
.btn-brand:focus,
.btn-brand:not(:disabled):not(.disabled).active:focus,
.btn-brand:not(:disabled):not(.disabled):active:focus,
.show > .btn-brand.dropdown-toggle:focus,
.btn-outline-brand.focus,
.btn-outline-brand:focus,
.btn-outline-brand:not(:disabled):not(.disabled).active:focus,
.btn-outline-brand:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-brand.dropdown-toggle:focus {
  color: #fff;
  background-color: #ff0033;
  border-color: #ff0033;
  box-shadow: 0 0 0 0.2rem rgb(217 38 74 / 50%);
}

.bg-brand {
  background-color: #ff0033 !important;
}

a.bg-brand:focus,
a.bg-brand:hover,
button.bg-brand:focus,
button.bg-brand:hover {
  background-color: #ff335c !important;
}

.bg-outline-brand {
  border-color: #ff0033 !important;
  background-color: #ffffff !important;
}

a.bg-outline-brand:focus,
a.bg-outline-brand:hover,
button.bg-outline-brand:focus,
button.bg-outline-brand:hover {
  border-color: #ff335c !important;
  background-color: #ffffff !important;
}

a.text-brand:focus,
a.text-brand:hover {
  color: #ff335c !important;
}

.accordion .btn-group.btn-group-brand .btn {
  color: #ffffff !important;
}

.accordion .btn-group.btn-group-brand .btn[aria-expanded="false"] {
  color: inherit !important;
}

.accordion .btn-group.btn-group-brand .bg {
  background-color: #ff0033 !important;
}

/* primary */
.btn-primary {
  color: #ffffff;
  background-color: #f81453;
  border-color: #f81453;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #f94577;
  border-color: #f94577;
}

.btn-outline-primary {
  color: #f81453;
  background-color: transparent;
  background-image: none;
  border-color: #f81453;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #ffffff;
  border-color: #f81453;
  background-color: #f81453;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #f94577;
  border-color: #f81453;
  box-shadow: 0 0 0 0.2rem rgb(212 56 99 / 50%);
}

.bg-primary {
  background-color: #f81453 !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #f94577 !important;
}

.text-primary {
  color: #f81453 !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #f94577 !important;
}

/* secondary */
.btn-secondary {
  color: #fff;
  background-color: #636466;
  border-color: #636466;
}

.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #7c7d80;
  border-color: #7c7d80;
}

.btn-outline-secondary {
  color: #636466;
  background-color: transparent;
  background-image: none;
  border-color: #636466;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #ffffff;
  border-color: #636466;
  background-color: #636466;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  color: #ffffff;
  background-color: #636466;
  border-color: #636466;
  box-shadow: 0 0 0 0.2rem rgb(69 90 132 / 50%);
}

.bg-secondary {
  background-color: #636466 !important;
}

a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
  background-color: #7c7d80 !important;
}

.text-secondary {
  color: #636466 !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
  color: #7c7d80 !important;
}

/* privalia */
.btn-privalia {
  color: #ffffff;
  background-color: #f03;
  border-color: #f03;
  border-radius: 0.25rem;
}

.btn-privalia::after {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3e%3cpath fill='white' d='M25,0c-6.7,6.7-4.4,14-3.5,16.1c0.6,1.4,3,5.7,3.5,6.6c0.5-1,2.9-5.2,3.5-6.6C29.4,14,31.7,6.7,25,0'/%3e%3cpath fill='white' d='M4.8,9.9c1,9.6,8,12.2,10.2,12.8c1.5,0.4,6.2,1.2,7.3,1.4c-0.4-1-2.2-5.5-2.9-6.9C18.3,15.1,14.2,8.7,4.8,9.9'/%3e%3cpath fill='white' d='M0,32.2c7.9,5.2,14.4,1.2,16.2-0.1c1.2-0.9,4.8-4.2,5.6-4.9c-1-0.3-5.6-1.7-7.1-2C12.4,24.7,4.9,24,0,32.2'/%3e%3cpath fill='white' d='M13.8,50c8.9-3.1,9.9-10.7,10-13c0-1.6-0.3-6.4-0.3-7.5c-0.9,0.6-4.8,3.4-6,4.4C15.8,35.4,10.6,41,13.8,50'/%3e%3cpath fill='white' d='M36.2,50c3.2-9-2-14.6-3.7-16c-1.2-1-5.1-3.8-6-4.4c-0.1,1.1-0.4,6-0.3,7.5C26.3,39.3,27.3,46.9,36.2,50'/%3e%3cpath fill='white' d='M50,32.2c-4.9-8.2-12.4-7.5-14.6-7c-1.5,0.3-6.1,1.7-7.1,2c0.8,0.7,4.4,4,5.6,4.9C35.6,33.4,42.1,37.3,50,32.2'/%3e%3cpath fill='white' d='M45.2,9.9c-9.4-1.2-13.5,5.2-14.5,7.3c-0.7,1.4-2.5,5.9-2.9,6.9c1.1-0.2,5.8-1,7.3-1.4C37.2,22.1,44.2,19.5,45.2,9.9'/%3e%3c/svg%3e");
}

.btn-privalia:hover,
.btn-privalia:not(:disabled):not(.disabled).active,
.btn-privalia:not(:disabled):not(.disabled):active,
.show > .btn-privalia.dropdown-toggle {
  color: #ffffff;
  background-color: #f03;
  border-color: #f03;
}

.btn-outline-privalia {
  color: #f03;
  background-color: transparent;
  background-image: none;
  border-color: #f03;
}

.btn-outline-privalia:hover,
.btn-outline-privalia:not(:disabled):not(.disabled).active,
.btn-outline-privalia:not(:disabled):not(.disabled):active,
.show > .btn-outline-privalia.dropdown-toggle {
  color: #ffffff;
  border-color: #f03;
  background-color: #f03;
}

.btn-privalia.focus,
.btn-privalia:focus,
.btn-privalia:not(:disabled):not(.disabled).active:focus,
.btn-privalia:not(:disabled):not(.disabled):active:focus,
.show > .btn-privalia.dropdown-toggle:focus,
.btn-outline-privalia.focus,
.btn-outline-privalia:focus,
.btn-outline-privalia:not(:disabled):not(.disabled).active:focus,
.btn-outline-privalia:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-privalia.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%);
}

.bg-privalia {
  background-color: #000000 !important;
}

a.bg-privalia:focus,
a.bg-privalia:hover,
button.bg-privalia:focus,
button.bg-privalia:hover {
  background-color: #555e6a !important;
}

.text-privalia {
  color: #000000 !important;
}

a.text-privalia:focus,
a.text-privalia:hover {
  color: #555e6a !important;
}

/* veepee */
.btn-veepee {
  color: white;
  background-color: #f03;
  border-color: #f03;
  border-radius: 0.25rem;
}

.btn-veepee::after {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 50'%3e%3cpath fill='white' d='M36.8,31.4c-1.4,1.7-2.8,3.3-4.3,4.6c-0.2,0.2-0.4,0.2-0.2,0c5.5-6,11.5-19.4,3.7-32.6c0,0-3.1,2.1-5.6,6.5 C28,6.1,24.4,2.9,19.9,0c0,0-11.3,12.7-6.3,31.2c-14.5,2-9.2,13.2-6.9,14.9c0.1,0.1,0.2,0,0.1-0.2c-0.8-1.3-3.1-5.6,1.6-9.8 c2.5-2.3,7.8-2.8,7.8-2.8C14.9,24.3,15,16.3,21,7.4c0.8,0.5,9.6,4.4,9.9,17.5c0.7,8.2-3.5,14.8-7.6,17.3C16,46.2,7.8,48.1,0.7,49.8 C0.1,50,0.3,50,0.7,50c16.9-0.7,31.9-8.4,37.7-15.6c1.1-1.4,1.6-2.9,0.9-3.8C38.5,29.7,37.1,31.1,36.8,31.4 M34.1,20.7 c-0.2-2.5-0.8-5-1.8-7.3c1.6-3.4,3.3-4.7,3.3-4.7S39,17.6,36,26.6c-1.9,5.6-4.1,9-5.3,10.5c-0.3,0.3-0.5,0.4-0.4,0.2 C33.2,33.5,34.7,27.5,34.1,20.7'/%3e%3c/svg%3e");
}

.btn-veepee:hover,
.btn-veepee:not(:disabled):not(.disabled).active,
.btn-veepee:not(:disabled):not(.disabled):active,
.show > .btn-veepee.dropdown-toggle {
  color: #ffffff;
  background-color: #f03;
  border-color: #f03;
}

.btn-outline-veepee {
  color: #f03;
  background-color: transparent;
  background-image: none;
  border-color: #f03;
}

.btn-outline-veepee:hover,
.btn-outline-veepee:not(:disabled):not(.disabled).active,
.btn-outline-veepee:not(:disabled):not(.disabled):active,
.show > .btn-outline-veepee.dropdown-toggle {
  color: #ffffff;
  border-color: #f03;
  background-color: #f03;
}

.btn-veepee.focus,
.btn-veepee:focus,
.btn-veepee:not(:disabled):not(.disabled).active:focus,
.btn-veepee:not(:disabled):not(.disabled):active:focus,
.show > .btn-veepee.dropdown-toggle:focus,
.btn-outline-veepee.focus,
.btn-outline-veepee:focus,
.btn-outline-veepee:not(:disabled):not(.disabled).active:focus,
.btn-outline-veepee:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-veepee.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(195 34 123 / 50%);
}

.bg-veepee {
  background-color: #ff1a97 !important;
}

a.bg-veepee:focus,
a.bg-veepee:hover,
button.bg-veepee:focus,
button.bg-veepee:hover {
  background-color: #ff1a97 !important;
}

.text-veepee {
  color: #ff1a97 !important;
}

a.text-veepee:focus,
a.text-veepee:hover {
  color: #ff1a97 !important;
}

/* link */
.btn-link {
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
}

.btn-link:hover {
  color: inherit;
  text-decoration: underline;
  filter: brightness(85%);
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
  color: inherit;
  pointer-events: none;
  opacity: 0.9;
}

/* background transparent */
.bg-transparent {
  background-color: transparent;
}

/* background image */
.bg-img {
  position: relative;
  z-index: 0;
}

.bg-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/caneto-background.jpg");
  z-index: -1;
}

/* background animated */
.bg-animated {
  position: relative;
  z-index: 1;
}

.bg-animated span {
  position: absolute;
  bottom: 5%;
  left: -2.5%;
  width: 105%;
  height: 55%;
  z-index: -1;
}

/* background animated */
.moved-bg {
  position: relative;
  width: 100%;
  padding: 0.25rem;
}

.moved-bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(1deg);
  display: block;
  width: 95%;
  height: 130%;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem 0 rgb(0 0 0 / 30%);
  z-index: -1;
}

/* CARD */
.card {
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2rem;
  text-align: center;
  background-color: unset;
  z-index: 0;
}

.card .card-img-top,
.card .card-body:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card .card-img {
  border-radius: inherit;
  overflow: hidden;
}

.card .card-body {
  padding: 2rem 1rem 0 1rem;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card .card-title {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.card .badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: normal;
  color: inherit;
}

/* COUNTDOWN */
.countdown {
  font-size: 1rem;
  font-weight: normal;
}

.countdown .countdown-text {
  margin-bottom: 0;
}

.countdown .countdown-timer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.countdown .countdown-hours,
.countdown .countdown-minutes,
.countdown .countdown-seconds,
.countdown .countdown-points,
.countdown .countdown-expired {
  font-size: 320%;
  font-weight: 600;
}

.countdown .countdown-points {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.countdown .countdown-name {
  font-size: 90%;
}
/* SWIPER */
.swiper {
  position: relative;
  margin-bottom: 0.5rem;
}

.swiper:not(.swiper-vertical) .swiper-slide {
  height: auto;
}

.swiper .swiper-slide p:last-child {
  margin-bottom: 0;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  top: 32%;
  width: 2rem;
  height: 2rem;
  color: inherit;
  border-radius: 50%;
}

.swiper .swiper-button-prev {
  left: 7.5%;
}

.swiper .swiper-button-next {
  right: 7%;
  top: 29%;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNiAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyLjYyNSAxMi4zMDhIMy4zNzUiIHN0cm9rZT0iIzA1QTFERCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xMS4yNSA1LjQ0MDczTDMuMzc1IDEyLjMwOEwxMS4yNSAxOS4xNzUzIiBzdHJva2U9IiMwNUExREQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}

.swiper .swiper-button-next::after {
  transform: rotate(180deg);
}

.swiper .swiper-button-prev.custom,
.swiper .swiper-button-next.custom {
  color: inherit;
}

.swiper .swiper-button-prev.custom::after,
.swiper .swiper-button-next.custom::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.swiper .swiper-button-prev.custom::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' points='3.5,10.5 1,8 3.5,5.5'/%3E%3Cline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' x1='1' y1='8' x2='15' y2='8'/%3E%3C/svg%3E");
}

.swiper .swiper-button-next.custom::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' points='12.5,5.5 15,8 12.5,10.5'/%3E%3Cline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' x1='15' y1='8' x2='1' y2='8'/%3E%3C/svg%3E");
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: #d8d8d8;
  margin: 0 0.25rem;
  background-color: #d8d8d8;
  opacity: 1;
  transition: all 0.3s;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #05a1dd;
  background-color: #05a1dd;
  width: 20px;
  border-radius: 5px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper .swiper-slide.see-more {
  position: relative;
  height: 100%;
}

.swiper .swiper-slide.see-more .stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper .position-relative {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  margin-top: 0.3rem;
}

.swiper .position-relative .swiper-button-prev,
.swiper .position-relative .swiper-button-next,
.swiper .position-relative .swiper-pagination {
  position: initial;
  transform: unset;
  margin-top: unset;
}

.swiper .position-relative .swiper-button-prev {
  margin-left: 0.5rem;
}

.swiper .position-relative .swiper-button-next {
  margin-right: 0.5rem;
}

.swiper-slide .card {
  height: 100%;
}

.swiper-slide .card .card-body {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.swiper-scrollbar {
  background-color: rgb(255 255 255 / 75%);
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background: #e5c1c4;
}

.swiper.swiper-vertical .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper.swiper-vertical .swiper-slide .row {
  width: 100%;
}

.swiper-cards {
  padding-top: 1.5rem;
}

.swiper-cards .swiper-slide {
  border-radius: 0.5rem;
}

.swiper-cards.swiper-3d .swiper-slide-shadow {
  background-color: transparent;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
}

/* videocontainer */
.videocontainer {
  position: relative;
  display: flex;
  /* min-height: 30vh; */
}

.videocontainer video {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-red {
  color: #ff0033;
}

.videocontainer .video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.videocontainer .video-text p:last-child {
  margin-bottom: 0;
}

/* Badge */
.badge {
  padding: 0.5rem 0.75rem;
  font-size: 75%;
  font-weight: 600;
}

.badge.badge-outline {
  padding: 0.35rem 0.6rem;
  border-width: 0.15rem;
  border-style: solid;
  border-color: currentColor;
}

/* Topo */
.topo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 65%;
  line-height: 1.1;
  text-align: center;
  color: white;
  background-color: #231421;
}

.topo p:last-child {
  margin-bottom: 0;
}

.topo strong {
  font-size: 125%;
  font-weight: normal;
}

/* SWITCH */
.switch .switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.switch .switch-label {
  position: relative;
  height: 3rem;
  width: 6rem;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}

.switch .switch-label::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 3rem;
  background-color: rgb(255 255 255);
}

.switch .switch-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  display: block;
  width: 3rem;
  height: 3rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background-color: currentColor;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
}

.switch .switch-input:checked ~ .switch-label::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* CHECKBOX */
.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
}

.form-check-input:checked {
  background-color: #5d60b7;
  border-color: #5d60b7;
}

.form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 0 51 / 25%);
}

.form-check {
  text-align: left;
}

.form-check-label {
  padding-left: 0.75rem;
  font-size: 0.65rem;
}

/* FORM-CONTROL */
.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #ff8099;
  box-shadow: 0 0 0 0.25rem rgb(255 0 51 / 25%);
}

/* #landing1,
  .landing1 {
	display: none;
  } */
#landing2,
.landing2 {
  display: none;
}

.wave {
  position: absolute;
  z-index: 1;
}

.decoration {
  position: absolute;
  width: 7rem;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.decoration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.svg-animation {
  position: absolute;
  display: block;
}

.svg-animation svg {
  width: 100%;
}

.svg-animation svg path {
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  transition: stroke-dashoffset 0.5s ease-in;
}

.svg-animation.aos-animate svg path {
  stroke-dashoffset: unset;
}

.masonry {
  overflow: hidden;
  margin-bottom: -1em;
}

.masonry .masonry-item {
  width: calc(50% - 0.5rem);
  margin-bottom: 1rem;
}

.masonry .masonry-item img:not(:last-child) {
  margin-bottom: 1em;
}

.masonry .stretched-link {
  color: inherit;
}

section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* HEADER */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 86.5vh;
  text-align: center;
}

header.header-blocks > .container,
header.header-blocks > .container-fluid {
  height: 100%;
}

header.header-blocks .header-content {
  flex-basis: initial;
  /* justify-content: space-around; */
  height: 95%;
}

header.header-blocks .downarrow {
  flex-basis: initial;
}

header .navbar + .container,
header .navbar + .container-fluid {
  height: 100%;
}

header .header-image {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

header .header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

header .navbar {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

header .navbar-brand {
  margin-left: auto;
  margin-right: auto;
}

header .navbar-brand img {
  width: 7rem;
}

header .header-wrapper,
header .header-content {
  position: relative;
  height: 100%;
}

header .header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 3rem;
  z-index: 1;
}

/* header .header-content .navbar {
  padding: 0.75rem;
  border-top-left-radius: 2rem;
  background-color: #fff;
} */

header .title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.9rem;
}
header .subtitle {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 19rem;
  line-height: 30px;
}
header .title span {
  line-height: 1.3;
}

.header-imageProduct {
  position: relative;
  top: -20px;
}
.header-imageProduct img {
  width: 19.5rem;
}

header .title.fr {
  width: 84%;
}

header .downarrow .downarrow-text {
  font-family: Futura Std;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}
header .downarrow .downarrow-arrow {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.35rem;
  border: 0;
  border-radius: 50%;
  margin-top: 0rem;
}

header .honey {
  position: absolute;
  left: 17.7rem;
  bottom: -2.56rem;
  width: 24%;
  z-index: 2;
}

header .switch {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

header .header-image.moon {
  color: #00164d;
}

header .header-image.sun {
  color: #ff0033;
}

header .header-image.sun img,
header .header-image.moon img {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s linear;
}

header .header-image.sun .moon,
header .header-image.moon .sun {
  opacity: 0;
}

header .header-image.moon .switch .switch-label::after {
  background-image: url("../img/verisure-icon-moon.svg");
}

header .header-image.sun .switch .switch-label::after {
  background-image: url("../img/verisure-icon-sun.svg");
}

/* SECTION 1 */
.section1 {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 3.6rem;
  color: #fff;
  z-index: 10;
  background-color: #aed5e7;
  overflow: hidden;
}

.section1 .wrapper {
  position: relative;
  margin-bottom: 1.2rem;
}

.section1 .content {
  position: absolute;
  color: #fff;
  z-index: 10000;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.section1 .title {
  font-size: 1.03rem;
  font-weight: 400;
  font-family: "Noway Round";
  margin-top: 1.95rem;
  line-height: 0.4rem;
}

.section1 .text-bold {
  font-size: 1.85rem;
  font-weight: bold;
  font-family: "Noway Round";
  letter-spacing: 4px;
  line-height: 2.3rem;
}

.section1 .text-bold2 {
  font-size: 1.9rem;
  font-weight: bold;
  font-family: "Noway Round";
  line-height: 2.1rem;
}

.section1 .text {
  color: #05a1dd;
  font-family: "Noway Round";
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.section1 .text-brand {
  color: #05a1dd;
  margin-bottom: 0;
  font-family: "futura Std";
  font-weight: 400;
  font-size: 1.1rem;
}

.section1 .text-brand2 {
  color: #ff8201;
  font-size: 1.45rem;
  font-weight: 700;
  margin-top: 1.8rem;
  font-family: "Noway Round";
  margin-bottom: 1.2rem;
}

.section1 .image-one {
  width: 99%;
}

.section1 .copyContent {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 0.3rem;
  padding-left: 2.3rem;
  padding-right: 1.5rem;
}

.section1 .button-text {
  margin-bottom: 0;
  font-size: 0.9rem;
  margin-top: 1.1rem;
  margin-left: 0rem;
  font-family: "Futura Std";
  font-weight: 400;
}

.section1 .buttonBox {
  margin-left: 2rem;
}

.section1 .image-fruit1 {
  position: absolute;
  width: 5rem;
  top: 18.3%;
  left: 0%;
  mix-blend-mode: color-burn;
}

.section1 .image-fruit2 {
  position: absolute;
  width: 4.6rem;
  top: 25%;
  right: 2%;
  mix-blend-mode: color-burn;
}

.section1 .image-fruit3 {
  position: absolute;
  width: 4.5rem;
  top: 58.8%;
  left: 2%;
  mix-blend-mode: color-burn;
}

.section1 .image-fruit4 {
  position: absolute;
  width: 4.6rem;
  bottom: 36.9%;
  right: 11.1%;
  mix-blend-mode: color-burn;
}

.section1 .image-fruit5 {
  position: absolute;
  width: 5.3rem;
  bottom: -1.7%;
  left: 5%;
  mix-blend-mode: color-burn;
}

.section1 .image-fruit6 {
  position: absolute;
  bottom: 10%;
  width: 6.2rem;
  right: 16%;
  z-index: 1;
  mix-blend-mode: color-burn;
}

.section1 .image-fruit7 {
  mix-blend-mode: color-burn;
}

.section1 .image-fruit8 {
  mix-blend-mode: color-burn;
}

.section1 .image-fruit9 {
  mix-blend-mode: color-burn;
}

.section1 .cta a {
  display: block;
  font-family: "Futura Std";
  font-weight: 700;
  border-radius: 2rem;
  background-color: #05a1dd;
  border-color: #05a1dd;
  font-size: 0.95rem;
  color: #fff;
  width: 66vw;
  margin: 0 auto;
}

.cta .market {
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  transform: translateY(-3px);
}

/* SECTION 2 */
.section2 {
  padding: 1.2rem 0.8rem;
  background-color: #05a1dd;
  text-align: center;
}

.section2 .content {
  background-color: #fff;
  border-radius: 0.8rem;
  padding-top: 3.2rem;
  padding-bottom: 1.7rem;
}

.section2 .title {
  font-family: "Noway Round";
  font-weight: bold;
  color: #00416b;
  font-size: 1.81rem;
  margin-bottom: 0.5rem;
  line-height: 2.1rem;
}

.section2 .subtitle {
  font-family: "Noway Round";
  font-weight: normal;
  color: #00416b;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.59rem;
  margin-left: -0.2rem;
}

.section2 .text {
  color: #fff;
  background-color: #05a1dd;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 4.8rem;
  font-size: 0.8rem;
  font-family: "Futura Std";
  font-weight: 500;
  margin: 0;
  margin-left: auto;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem;
}

.section2 .carrosel-image {
  width: 52%;
  margin-bottom: 0.8rem;
}

.section2 .titlecarrosel {
  font-size: 1.2rem;
  font-family: "Noway Round";
  margin-bottom: 0.8rem;
  font-weight: 400;
  color: #00416b;
}

.section2 .subtitlecarrosel {
  color: #00416b;
  font-size: 0.92rem;
  font-family: "Futura Std";
  font-weight: 400;
  line-height: 1.2rem;
}
/* END SECTION 2 */

/* SECTION 3 */
.section3 {
  background-color: #a7de35;
  padding-bottom: 1.3rem;
  padding-top: 3.5rem;
  overflow-x: hidden;
}

.section3 .title {
  font-family: "Noway Round";
  color: #2d5e07;
  font-size: 1.67rem;
  line-height: 1.9rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.3rem;
}

.section3 .subtitle {
  font-family: "Futura Std";
  color: #2d5e07;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.35rem;
  margin-bottom: 1.56rem;
}

.section3 .card-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.4rem;
  justify-content: start;
  margin-bottom: 0.6rem;
}

.section3 .about-image {
  width: 4.8rem;
  margin-bottom: 0.4rem;
}

.section3 .img-min {
  width: 6rem;
}

.section3 .text {
  font-size: 0.93rem;
  margin-left: 0;
  font-family: "Futura Std";
  color: #2d5e07;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

.section3 .categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0rem;
  padding: 0rem 1.5rem;
}

.section3 .categorie-item {
  position: relative;
  height: 100%;
}

.section3 .categorie-item a {
  height: auto;
  width: 100%;
  display: block;
}

.section3 .product-name {
  color: #fff;
  font-family: Proxima Nova;
  font-weight: 500;
  font-size: 1.05rem;
}

.section3 .wrapper {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 6%;
}

.section3 .img-fluid.arrow {
  width: 1rem;
  object-fit: cover;
}

/* SECTION 4 */
.section4 {
  padding-top: 3.4rem;
  padding-bottom: 1rem;
  background-color: #aed5e7;
}

.section4 .container {
  padding-left: 0;
  padding-right: 0;
}

.section4 .title {
  font-family: "Noway Round";
  font-size: 1.85rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: #00416b;
  margin-top: 0.3rem;
}
.section4 .subtitle {
  color: #00416b;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.42rem;
  margin-bottom: 2rem;
}

.section4 .categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.2rem;
  padding: 0rem 1.9rem;
}

.section4 .categorie-item {
  position: relative;
  height: 100%;
}

.section4 .categorie-item a {
  height: auto;
  width: 100%;
  display: block;
}

.section4 .product-name {
  color: #fff;
  font-family: Proxima Nova;
  font-weight: 500;
  font-size: 1.05rem;
}

.section4 .wrapper {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 6%;
}

.section4 .img-fluid.arrow {
  width: 1rem;
  object-fit: cover;
}

.section4 .swiper {
  margin-left: 2rem;
}

.section4 .swiper .img-swiper {
  margin-bottom: 1rem;
}

.section4 .swiper a {
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  /* white-space: nowrap; */
}

.section4 .swiper .swiper-button-prev {
  display: none;
}

.section4 .swiper-pagination {
  text-align: left;
}

.section4 .swiper-slide .card-body {
  padding: 0;
  text-align: left;
}

.section4 .swiper {
  padding-bottom: 3rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

/* OFFER */
.offer-section {
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 999;
  text-align: center;
  padding-bottom: 0.5rem;
  background: #aed5e7;
  margin-top: 0;
  border-radius: 0;
}

.offer-section .btn-dark {
  background-color: #000;
  border-color: #0000;
  color: #fff;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 7px;
  width: 11rem;
  margin: 0 auto;
}

.offer-section .container.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  margin-top: 0;
  background-color: #fff;
  border-radius: 18px;
  padding-top: 0.1rem;
}

.offer-section .title {
  font-size: 0.95rem;
  margin: 0;
  font-family: "Futura Std";
  margin-bottom: 0.4rem;
  color: #00416b;
  font-weight: 400;
}

.offer-section .text-bold {
  font-weight: bold;
  font-size: 0.94rem;
}

.offer-section .container.cta a {
  font-family: "Futura Std";
  font-weight: 700;
  width: 15.78rem;
  padding-left: 1.1rem;
  font-size: 0.95rem;
  background-color: #ff8201;
  border-radius: 19px;
  color: #fff;
}

.offer-section .content {
  background-color: #fff;
  max-width: 90%;
}

.offer-section .helper-text {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.9rem;
}

/* FOOTER */
footer {
  background-color: #00416b;
  position: relative;
  font-size: 0.65rem;
  font-weight: normal;
  letter-spacing: 0;
  color: #000;
  z-index: 1;
}

footer p {
  color: #707070;
  font-size: 0.84rem;
  line-height: 1rem;
  padding-top: 0.6rem;
}

footer .container-text {
  background-color: #aed5e7;
  padding: 1rem 1rem;
  margin-bottom: 0.1rem;
}

footer .footer-logos {
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
}

footer .footer-logos:not(:first-child) {
  margin-top: 2rem;
}

footer .footer-logo {
  margin-top: 1rem;
  align-self: center;
  text-align: center;
}

footer .footer-logo:first-of-type {
}

footer .footer-logo:last-of-type {
  text-align: left;
}

footer .footer-logo img {
  width: auto;
  height: 3.5rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: 0rem;
}

footer .footer-separator {
  width: 1px;
  padding: 0;
  background-color: #fff;
}

footer .copyright {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 0.55rem;
}

footer a.event {
  color: inherit;
}

footer .footer-logos.carte-logos .footer-logo:first-of-type img {
  transform: translateX(1.1rem);
}

footer .footer-logos.carte-logos .footer-logo:last-of-type img {
  margin-left: 1rem;
}

footer .footer-logos.carte-logos .footer-separator {
  display: none;
}

span.mes {
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  width: 1.1rem;
  height: 1rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 100;
  margin-right: 10px;
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.accordion-body {
  padding: 0;
  font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 767.98px) {
  .mosca-superior {
    display: none;
  }

  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pl-xs-0 {
    padding-left: 0 !important;
  }

  .pr-xs-0 {
    padding-right: 0 !important;
  }

  .mt-xs-auto {
    margin-top: auto !important;
  }

  .mt-xs-3 {
    margin-top: 1rem !important;
  }

  .mt-xs-5 {
    margin-top: 2rem !important;
  }

  .mb-xs-5 {
    margin-bottom: 2rem !important;
  }

  .mb-xs-6 {
    margin-bottom: 3rem !important;
  }

  .mt-xs-6 {
    margin-top: 3rem !important;
  }

  .text-xs-white {
    color: #fff !important;
  }

  .bg-xs-transparent {
    background-color: transparent !important;
  }

  .bg-xs-secondary {
    background-color: #717171 !important;
  }

  section {
    background-color: #fff;
    z-index: 2;
  }

  /* HEADER */
  header {
    position: relative;
    z-index: 2;
  }

  header .header-image img {
  }

  header .title {
  }

  /* SECTION 2 */
  .section2 {
  }

  /* SECTION 3 */
  .section3 {
  }

  /* SECTION 4 */
  .section4 {
  }

  /* .section4 .swiper {
    margin-left: -1rem;
    margin-right: -1rem;
  } */

  .section4 .swiper .d-flex {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 72%;
    flex-direction: column;
  }

  .section4 .swiper .d-flex img {
    max-width: 14%;
  }

  .modals .title {
    position: relative;
    margin: 0 auto;
    margin-bottom: 0.4em;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 4.5rem;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
  }
  .modals p {
    font-size: 1rem;
    font-family: roboto;
    font-weight: bold;
    text-align: center;
    width: 64%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .rate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.55rem;
  }
  .rate img {
    width: 8rem;
    margin-top: -0.45rem;
  }
  .rate span {
    font-size: 0.7rem;
  }
  .product {
    display: block;
    width: 13.9rem;
    margin: 0 auto;
  }
  #modal02 .product,
  #modal03 .product,
  #modal04 .product {
    width: 20rem;
    margin: -5rem auto;
  }

  /* SECTION 5 */
  .section5 {
    z-index: 1;
  }

  .section5 .col-sm-3:not(:last-child) {
    margin-bottom: 1rem;
  }

  .section5 .timeline {
    position: relative;
  }

  .section5 .timeline-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
  }

  .section5 .line {
    display: none;
  }

  .section5 .timeline-mask {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50vh;
    width: 100%;
  }

  .back-red {
    background-color: #ff0033;
  }
  .section5-img {
    position: absolute;
    top: 41%;
    left: 0%;
    width: 100%;
    height: 32.9vh;
    z-index: 0;
  }
  .section5 .title {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    margin-top: 3.8rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    background: linear-gradient(to right, #e5515e 0%, #f3b34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }
  .section5 .subtitle {
    font-size: 1.11rem;
    font-weight: 400;
    font-family: roboto;
    margin-bottom: 1.3rem;
  }

  /* SECTION 6 */
  .section6 {
  }

  .container-header img {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    height: 38rem;
    width: 100%;
  }
}
.section6 .title {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #e5515e 0%, #f3b34d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  z-index: 1;
  font-size: 1.8rem;
  padding: 0 1rem;
  padding-top: 2.5rem;
  margin-top: -1.8rem;
  margin-bottom: 1rem;
}

.section6 p.mb-0 {
  font-size: 1.2rem;
}

.banner {
  z-index: 1;
}
.banner img {
  margin-left: 2.2rem;
  width: 22rem;
}

.section6 .card {
  border-radius: 15px;
  background: var(--crbbrandneutral-01, #fff);
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.25);
  margin-top: -1.8rem;
  width: 21rem;
  height: 12.3rem;
  z-index: 1;
  margin-left: 2.3rem;
}
.card .container {
  padding: 0.2rem 1rem;
}

.card .subtitle {
  font-family: roboto;
  color: #f9a914;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  text-align: left;
  width: 16rem;
  margin-bottom: 0.3rem;
}
.card .text {
  font-family: roboto;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.section6 h2.title.text-dark.mt-5.mb-5 {
  font-size: 1.3rem;
}

.section6 .btn {
  font-family: roboto;
  border: 2px solid #000;
  border-radius: 6px;
  width: 10.5rem;
  font-size: 1rem;
  margin-left: -8rem;
  font-weight: 500;
}

.section6 .swiper {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* OFFER */
.offer-section .helper-text:last-child {
  margin-top: 0.5rem;
}

/* FOOTER */
footer {
  font-size: 0.5rem;
}

@media (max-width: 415px) and (max-height: 771px) {
  header {
    height: 90vh;
  }
}

@media (max-width: 415px) and (max-height: 716px) {
  header {
    height: 94vh;
  }
}

@media (max-width: 367.98px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 21px;
  }

  .xs-br {
    display: none;
  }

  .sm-br {
    display: inline;
  }

  .mb-sm-5 {
    margin-bottom: 2rem !important;
  }

  .mb-sm-6 {
    margin-bottom: 3rem !important;
  }

  .big {
    /* font-size: 130%; */
    font-size: 1.5rem;
  }

  body {
    line-height: 1.2;
  }

  br.desktop-br {
    display: block;
  }

  .xs-br {
    display: none;
  }

  .sm-br {
    display: inline;
  }

  .btn {
    padding: 0.4rem 1rem;
    width: 11.52rem;
    font-size: 0.6rem;
    height: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.4rem;
  }

  .btn-copy .copy-icon,
  .btn-copy .copy-icon-ok {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-20px, -50%);
    width: 0.7rem;
    height: 0.7rem;
  }

  .section .cta {
    text-align: center;
  }

  .section .cta a {
    display: inline;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 0.65rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  .copy-icon-wrapper {
    width: 1rem;
    margin-left: 0rem;
  }

  .video-wrapper {
    max-height: 100vh;
  }

  .bg-sm-primary {
    background-color: #ff0090 !important;
  }

  a.bg-sm-primary:focus,
  a.bg-sm-primary:hover,
  button.bg-sm-primary:focus,
  button.bg-sm-primary:hover {
    background-color: #ff33a6 !important;
  }

  .text-sm-primary {
    color: #ff0090 !important;
  }

  .bg-sm-dark {
    background-color: #000 !important;
  }

  .card .card-body {
    padding: 2rem;
  }

  .card .badge {
    font-size: 0.75rem;
  }

  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1rem;
  }

  .d-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  header.header-blocks > .container,
  header.header-blocks > .container-fluid {
    height: initial;
  }

  .title {
    margin-bottom: 1em;
  }

  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /* HEADER */
  header {
    height: 112vh;
  }

  header.header-blocks .header-wrapper {
    flex-direction: row;
  }

  header.header-blocks .header-content,
  header.header-blocks .header-image {
    height: 100%;
  }

  header.header-blocks .header-image {
  }

  header .header-image {
    top: 0;
    left: 0;
    width: 100%;
  }

  header .header-wrapper {
  }
  header {
    position: relative;
    z-index: 2;
  }

  header .header-image img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: bottom;
  }

  header .header-content {
    position: relative;
    flex: 0 0 auto;
    justify-content: center;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: auto;
    align-items: start;
  }

  header .navbar {
    padding-top: 4.6rem;
    margin-bottom: 0rem;
  }

  header .navbar .navbar-brand img {
    width: 10.3rem !important;
    min-width: 5rem;
  }

  header .title {
    margin-top: 8.2rem;
    font-size: 1.65rem;
    line-height: 42px;
    margin-left: 3.5rem;
  }
  .header-imageProduct {
    position: relative;
    top: -28px;
  }
  .header-imageProduct img {
    width: 20.9rem;
  }

  header .subtitle {
    font-size: 0.81rem;
    margin-left: 4.6rem;
    line-height: 25px;
    margin-bottom: 9.9rem;
  }
  header .downarrow {
    margin-top: 0.4rem;
    margin-left: 8.7rem;
  }
  header .downarrow .downarrow-text {
    font-size: 0.55rem;
  }
  header .downarrow .downarrow-arrow {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
  }
  /** SECTION 1 */
  .section1 {
    position: relative;
    padding-top: 2.7rem;
    padding-bottom: 3.4rem;
    margin-top: -4rem;
    z-index: 0;
  }

  .section1 .wrapper {
    position: relative;
    width: 27%;
    margin-left: auto;
    margin-right: auto;
  }

  .section1 h2.title {
    font-size: 0.7rem;
    font-weight: 500;
    font-family: "Futura Std";
    margin-bottom: 0.9rem;
    line-height: 0.05rem;
    margin-top: 1.5rem;
  }

  .section1 .text-bold {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Noway Round";
    letter-spacing: 0.2rem;
    line-height: 1.8rem;
  }

  .section1 .copyContent h2.title {
    margin-top: 1.1rem;
  }

  .section1 .text {
    color: #05a1dd;
    font-family: "Noway Round";
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.1rem;
    margin-bottom: 2.4rem;
    margin-top: 0.4rem;
  }
  .sectiopn1 .btn-copy .event {
    padding: 0.5rem 1.9rem;
    width: 9rem;
  }

  .section1 .text-brand {
    color: #05a1dd;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 0.68rem;
  }

  .section1 .text-brand2 {
    color: #ff8201;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 1.5rem;
    font-family: "Noway Round";
    margin-bottom: 0.6rem;
  }

  .section1 .copyContent {
    padding-top: 0.4rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }

  .section1 .text-bold2 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Noway Round";
    line-height: 1.5rem;
  }

  .section1 .wrapper2 {
    width: 28.3%;
    margin-bottom: 1.6rem;
  }

  .section1 .buttonBox {
    margin-left: 0.7rem;
  }

  .section1 .copy-code {
    display: block;
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 2rem;
  }

  .section1 .button-text {
    margin-bottom: 0;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .section1 p.copy-helper {
    margin-top: 0.2rem;
    margin-bottom: unset;
    font-size: 0.5rem;
    text-align: center;
  }

  .section1 .image-fruit1 {
    position: absolute;
    width: 5.9rem;
    top: 11.6%;
    left: 17%;
  }

  .section1 .image-fruit2 {
    position: absolute;
    width: 5rem;
    top: 20%;
    right: 24.5%;
  }

  .section1 .image-fruit3 {
    position: absolute;
    width: 5.3rem;
    top: 48.8%;
    left: 25%;
  }

  .section1 .image-fruit4 {
    position: absolute;
    width: 5.5rem;
    bottom: 14%;
    right: 30.4%;
  }

  .section1 .image-fruit5 {
    position: absolute;
    width: 6.5rem;
    bottom: 6.8%;
    left: 12.5%;
  }

  .section1 .image-fruit6 {
    position: absolute;
    width: 7.4rem;
    top: 50%;
    right: 13%;
    z-index: 1;
    bottom: 0;
    rotate: 301deg;
  }

  .section1 .image-fruit7 {
    position: absolute;
    top: 14.4%;
    right: 3.8%;
    width: 6.5rem;
  }

  .section1 .image-fruit8 {
    position: absolute;
    top: 47%;
    width: 5.1rem;
    rotate: 262deg;
    left: 4.7%;
  }

  .section1 .image-fruit9 {
    position: absolute;
    top: 78%;
    width: 5.7rem;
    right: 5.3%;
  }

  /* SECTION 2 */
  .section2 {
    padding: 1.8rem 0rem 1.8rem;
  }

  .section2 .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.7rem;
  }

  .section2 .content {
    padding-top: 0;
    padding-bottom: 2rem;
    width: 32.4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }

  .section2 .subtitle {
    font-size: 0.6rem;
    line-height: 1.1rem;
    margin-bottom: 0;
    margin-left: 0rem;
  }

  .section2 .img-fluid {
    width: 25.6rem;
  }

  .section2 .title {
    font-size: 0.95rem;
    margin-bottom: 0.6rem;
    font-weight: 700;
    line-height: 1.1rem;
  }

  .section2 .cardCarrosel {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 0 4.5rem 0 4.9rem;
  }

  .section2 .text {
    margin-right: auto;
    font-size: 0.5rem;
    margin-left: 0.6rem;
    padding: 0.3rem 0rem;
    margin-top: 0.9rem;
    max-width: 2.5rem;
    margin-bottom: 0;
  }

  .section2 .carrosel-image {
    width: 9rem;
    margin-left: 0.7rem;
  }

  .section2 .titlecarrosel {
    font-size: 0.81rem;
    font-family: "Noway Round";
    margin-top: 3.7rem;
    margin-bottom: 0.5rem;
  }

  .section2 .subtitlecarrosel {
    font-size: 0.53rem;
    line-height: 0.8rem;
  }

  .section2 .informationBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: -4rem;
  }

  .section2 .imageBox {
    width: 100%;
  }
  .section2 .swiper .position-relative {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.3rem;
    margin-top: -3.3rem;
  }

  .section2 .position-relative .swiper-pagination {
    position: absolute;
    left: 15%;
    bottom: 47%;
  }

  .section2 .swiper-pagination .swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-color: #d8d8d8;
    margin: 0 0.1rem;
    background-color: #d8d8d8;
    opacity: 1;
    transition: all 0.3s;
  }

  .section2
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #05a1dd;
    background-color: #05a1dd;
    width: 14px;
    border-radius: 5px;
  }

  .section2 .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    top: 69%;
    width: 1.2rem;
    height: 1.2rem;
    color: transparent;
    border-radius: 50%;
  }
  .swiper .swiper-button-next {
    transform: rotate(0deg);
  }

  .section2 .swiper .swiper-button-prev {
    left: 5%;
  }

  .section2 .swiper .swiper-button-next {
    right: 5%;
    top: 56%;
  }

  .section2 .swiper .swiper-button-next::after {
    transform: rotate(180deg);
    margin-top: 0.6rem;
  }
  /* SECTION 3 */
  .section3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
  }

  .section3 .title {
    font-size: 1.24rem;
    margin-bottom: 0.4rem;
    line-height: 1.4rem;
    padding-top: 1rem;
  }

  .section3 .subtitle {
    font-size: 0.64rem;
    margin-bottom: 1rem;
    line-height: 1rem;
  }

  .section3 .categories {
    grid-template-columns: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 0rem;
    margin-bottom: 1.1rem;
    display: flex;
    justify-content: center;
  }

  .section3 .card-about {
    width: 5.3rem;
    justify-content: flex-start;
  }

  .section3 .about-image {
    width: 2.3rem;
    margin-bottom: 0.2rem;
  }

  .section3 .img-min {
    width: 3.4rem;
  }

  .section3 .wrapper {
    bottom: 3%;
  }

  .section3 .product-name {
    font-size: 0.85rem;
    line-height: 1.2rem;
  }

  .section3 .text {
    font-size: 0.55rem;
    text-align: center;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* SECTION 4 */
  .section4 {
    padding-top: 3.1rem;
    padding-bottom: 1rem;
  }

  .section4 .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }

  .section4 .title {
    font-family: "Noway Round";
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0rem;
    color: #00416b;
    margin-top: 0.2rem;
  }

  .section4 .subtitle {
    font-size: 0.55rem;
    font-weight: 500;
    font-family: "Futura Std";
    color: #00416b;
    line-height: 0.9rem;
  }

  .section4 .categories {
    gap: 1rem 1.6rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .section4 .categorie-item a {
    height: auto;
    width: 7rem;
    display: block;
  }
  .section4 .categorie-item img {
    width: 6rem;
  }

  .section4 .swiper {
    padding-bottom: 4rem;
  }

  .section4 .swiper .img-swiper {
    margin-bottom: 1.7rem;
  }

  .section4 .swiper a {
    color: #000;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .section4 .card-title {
    color: #333;
    margin-top: 1rem;
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
  }

  .section4 .txt {
    color: #333;
    font-size: 0.72rem;
    line-height: 0.95rem;
    font-weight: 400;
  }

  .section4 .swiper .swiper-button-next {
    position: relative;
    left: 8% !important;
    bottom: -13px;
  }

  .section4 .swiper-pagination {
    position: relative;
  }

  .naviwrapper {
    position: absolute;
    width: auto;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
  }

  /* OFFER */
  .offer-section {
    padding-top: 2rem;
  }
  .offer-section .content {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .offer-section .title {
    font-size: 0.62rem;
    margin: 0;
    font-family: "Futura Std";
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
  }

  .offer-section .text-bold {
    font-size: 0.62rem;
  }

  .footer-text {
    background-color: #aed5e7;
    margin-bottom: 0;
    margin-top: -7.1rem;
    font-size: 0.47rem;
    text-align: center;
    padding: 8.4rem 1rem 1.4rem;
    color: #00416b;
  }

  .offer-section .cta .btn {
    width: 13rem;
  }

  .offer-section .cta .btn {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    width: 10rem;
  }

  .offer-section .helper-text {
    display: inline-block;
    margin-bottom: 0;
    text-align: right;
    line-height: 1.2;
    padding: 0;
    margin-right: 0.5rem;
  }

  .offer-section .cta-col {
    padding-left: 0;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .offer-section .container.cta {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    border-radius: 13px;
    padding-top: 0rem;
    flex-direction: column;
  }

  .offer-section .container.cta a {
    font-weight: 700;
    width: 12rem;
    margin-left: 0;
    font-size: 0.65rem;
    padding-left: 1rem;
    text-align: center;
    display: block;
  }
  footer .container-text {
    font-size: 0.43rem;
    text-align: center;
    padding: 0.9rem 1rem 1.4rem 1rem;
  }
  footer .footer-logos {
    margin-bottom: 0rem;
    padding-top: 0;
    margin-top: 0rem;
    text-align: initial;
  }
  footer .footer-logo {
    margin-top: 0;
  }
  footer .footer-logo:first-of-type {
    text-align: end;
  }
  footer .footer-logo img {
    width: 3.5rem;
  }
  footer p {
    padding: 0;
    line-height: 0.5rem;
  }
  footer .copyright {
    font-size: 0.3rem;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1920px) {
  header {
    height: 98vh;
  }

  header .downarrow {
    margin-top: auto;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    color: #fff;
  }

  .section2 p.percentxt {
    font-size: 0.8rem;
    margin-top: 1.3rem;
    margin-bottom: 0.6rem;
    line-height: 1rem;
    color: #fff;
  }

  .section2 .cta .btn {
    max-width: 7.5rem;
    min-width: 5rem;
    font-size: 0.72rem;
    line-height: 0.75rem;
    padding: 0.4rem;
  }

  .section3 p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 0.65rem;
    margin-top: 0rem;
    line-height: 0.8rem;
  }

  .section5 .categories .categories-item p {
    margin-bottom: 0;
    font-size: 0.75rem;
    margin-top: 0rem;
    font-weight: normal;
  }

  .offer-section .helper-text {
    font-size: 75%;
    line-height: 0.75rem;
  }
  .footer .container .text {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* IPHONE SE, 6,7,8 */
@media (min-width: 350px) and (max-width: 380px) {
  html {
    font-size: 15px;
  }

  header {
    height: 99vh;
  }

  header .downarrow {
    margin-top: 3rem;
  }
}

html {
  background-image: url(../img/smileat_DESKTOP.jpg);
  /* background-image: url(../img/smileat_MOBILE.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  opacity: 0.6;
}
