@font-face {
  font-family: "Noway Round";
  src: url("nowayround-bold-webfont.woff2") format("woff2"),
    url("nowayround-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noway Round";
  src: url("nowayround-regular-webfont.woff2") format("woff2"),
    url("nowayround-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
